.login_form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    padding: 16px;
    border: 0;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: var(--border-ra3);
    background-color: var(--carCardFontColor);
    &:hover {
      background-color: var(--mainButton-hover);
    }
  }
}
