.cars_to_compare.fade {
  opacity: 0;
}

.cars_to_compare {
  opacity: 1;
  transition: 0.8s ease;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px auto;
  margin-bottom: 30px;
  h2 {
    color: white;
  }
  &-list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  &-list::before {
    position: absolute;
    content: "VS";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--carCardFontColor);
  }
  &-button {
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 15px;
    background-color: transparent;
    border-radius: 2px;
    padding: 21px;
    color: white;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
    position: relative;
    cursor: pointer;
    a {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
  &-button:hover {
    background-color: var(--carCardFontColor);
    border: 1px solid var(--carCardFontColor);
  }
}
