.message {
  color: white;
  display: flex;
  gap: 15px;
  margin-bottom: 400px;
  a {
    color: var(--view-button-text);
  }
}
.car_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
