.autohunt_map {
  width: 70%;
  height: 500px;
  margin: 50px auto;
  h2 {
    color: white;
    margin: 10px 0;
  }
  .map {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .autohunt_map {
    width: 80%;
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .autohunt_map {
    width: 95%;
  }
}