.comments_box {
  display: flex;
  width: 60%;
  gap: 20px;
  color: white;
  margin: 30px auto;
  flex-direction: column;
  .comments {
    gap: 20px;
    display: flex;
    flex-direction: column;

    .comment {
      gap: 20px;
      display: flex;
      position: relative;
      .delete_comment {
        position: absolute;
        right: 0;
        background: var(--error);
        border: 0;
        border-radius: var(--border-ra3);
        padding: 5px;
        cursor: pointer;
      }
      .comment_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
