.main_search_panel {
  position: relative;
  z-index: 2;
  background-color: #071620d1;
  width: 70%;
  height: max-content;
  margin: 0 auto;
  color: white;
  transform: translateY(-50%);
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 10px;
  padding: 15px;
  border-radius: 5px;

  &-radio {
    grid-column: 1/9;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    label {
      width: 100px;
      color: var(--carCardFontColor);
      opacity: 0.5;
      text-align: center;
      padding: 5px;
      transition: all 0.7s ease;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
    .active-label {
      opacity: 1;
      border-bottom: 2px solid var(--carCardFontColor);
    }
    input {
      display: none;
    }
  }

  &-search {
    grid-column: 1/5;
    grid-row: 2/3;
    &-inner {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 2px 10px;
      height: 55px;
    }
  }
  &-brand {
    grid-column: 5/7;
    grid-row: 2/3;
    &-inner {
      width: 100%;
      border-radius: 4px;
      background: var(--searchPanelBG);
    }
  }
  &-model {
    grid-column: 7/9;
    grid-row: 2/3;
    &-inner {
      width: 100%;
      border-radius: 4px;
      background: var(--searchPanelBG);
    }
  }
  &-location {
    grid-column: 1/4;
    grid-row: 3/4;
    &-inner {
      width: 100%;
      border-radius: 4px;
      background: var(--searchPanelBG);
    }
  }
  &-range {
    grid-column: 4/8;
    grid-row: 3/4;
    width: 90%;
    align-self: center;
    justify-self: center;
    &-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      &-price {
        min-width: 150px;
        display: flex;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        gap: 5px;
        flex-direction: column;
      }
    }
  }
  &-button {
    grid-column: 8/9;
    grid-row: 3/4;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 100%;
      background: var(--carCardFontColor);
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        background: rgb(66, 176, 255);
      }
    }
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .main_search_panel {
    width: 95%;
  }
}
