.grid_card_main {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 315px;
  padding: 10px;
  border-radius: var(--border-ra5);
  transition: 0.3s ease;
  position: relative;
  z-index: 1111;
  border: 1px solid var(--carCardBorder);
  cursor: pointer;
  color: var(--carCardFontColor);

  .active_link_car {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .active_link_review {
    position: absolute;
    display: block;
    z-index: 3;
    height: 8%;
    width: 100%;
    right: 0;
    bottom: 0;
  }

  &:hover {
    background-color: rgba(131, 131, 131, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  &:hover button {
    opacity: 1;
  }

  &-image {
    width: 100%;
    height: 170px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      border-radius: var(--border-ra5);
      object-fit: cover;
      display: block;
      height: 160px;
    }

    .edit_button,
    .delete_button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 50px;
      width: 120px;
      background-color: var(--mainCardButton);
      border-radius: var(--border-ra3);
      border: none;
      top: 50%;
      left: 50%;

      transition: 0.8s ease-in-out;
      z-index: 3;
      opacity: 0;
      cursor: pointer;
      span {
        color: var(--main-white);
      }
    }
    .edit_button {
      transform: translate(-50%, -0%);
    }
    .delete_button {
      transform: translate(-50%, -110%);
      background-color: var(--error);
      color: var(--main-white);
    }
    .delete_button:hover {
      background-color: var(--error-hover);
    }
    .like_car {
      position: absolute;
      background-color: transparent;
      right: 15px;
      top: 6px;
      border: none;
      height: max-content;
      width: max-content;
      z-index: 5;
      cursor: pointer;
    }
    .like_car {
      opacity: 0;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-condition {
      display: block;
      padding: 4px 10px;
      border: 1px solid var(--carCardFontColor);
      width: max-content;
      border-radius: var(--border-ra3);
      margin-top: 15px;
      font-weight: 700;
    }

    h3 {
      margin-top: 8px;
      color: var(--main-white);
    }

    &-price {
      font-size: 20px;
      font-weight: 600;
      margin-top: 5px;
      display: flex;
      align-items: center;
    }
    &-location {
      margin-top: 7px;
      font-weight: 500;
      display: flex;
      align-items: center;
    }
    &-rating {
      display: flex;
      align-items: center;
      gap: 10px;
      border-top: 1px solid #989898;
      width: 100%;
      padding-top: 5px;
    }
    &-block {
      width: 100%;

      &-list {
        text-align: left;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        li {
          margin: 10px 0;
          font-weight: 500;
          font-size: 15px;
          list-style: none;
        }
        .year-grid,
        .fuel-type-grid,
        .wheel-config-grid,
        .seats-grid {
          display: flex;
          align-items: flex-end;
          gap: 7px;
        }
        .year-grid {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .fuel-type-grid {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .wheel-config-grid {
          grid-column: 2/4;
          grid-row: 1/2;
        }
        .seats-grid {
          grid-column: 2/4;
          grid-row: 2/3;
        }
      }
    }
  }
}

.user_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .grid_card_main {
    width: 240px;
    height: 380px;

    &-image {
      img {
        height: 140px;
      }
      .edit_button,
      .delete_button {
        height: 30px;
        width: 90px;
      }
    }
    &-info {
      &-condition {
        margin-top: 5px;
      }
      h3 {
        font-size: 15px;
      }

      &-price {
        font-size: 15px;
      }
      &-location {
        margin-top: 3px;
        font-size: 13px;
      }

      &-block {
        &-list {
          margin-top: 5px;
          li {
            margin: 5px 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: 775px) and (max-width: 1000px) {
  .grid_card_main {
    width: 240px;
    height: 380px;

    &-image {
      img {
        height: 140px;
      }
      .edit_button,
      .delete_button {
        height: 30px;
        width: 90px;
      }
    }
    &-info {
      &-condition {
        margin-top: 5px;
      }
      h3 {
        font-size: 15px;
      }

      &-price {
        font-size: 15px;
      }
      &-location {
        margin-top: 3px;
        font-size: 13px;
      }

      &-block {
        &-list {
          margin-top: 5px;
          li {
            margin: 5px 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}
