.user_cars {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr, auto);

  .links {
    grid-column: 2/9;
    grid-row: 1/2;
    justify-self: center;
  }
  .car_list {
    margin-top: 50px;
    grid-column: 2/9;
    justify-self: center;
    width: 100%;
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .message {
    margin-top: 50px;
    justify-self: center;
    text-align: center;
    grid-column: 2/9;
    grid-row: 2/3;
  }
}
