.dealer_info_block {
  margin-top: 70px;
  color: white;
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: var(--carDetailsDealerBG);
    border-radius: 3px;
    margin-top: 20px;
    padding: 16px;
    &-photo {
      grid-column: 1/2;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      div {
        i {
          font-size: 14px;
          display: block;
          margin-top: 5px;
        }
      }
    }
    &-phone {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 2/3;
      gap: 5px;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
    &-email {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 3/4;
      gap: 5px;

      padding-left: 20px;
    }
  }
}
