.car_details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto, 1fr);
  gap: 40px;
  padding: 25px;
  border-radius: var(--border-ra5);
  background-color: var(--carDetailsDealerBG);
  color: var(--textColor);
  h3 {
    grid-column: 1/4;
    grid-row: 1/2;
    width: max-content;
    border-bottom: 2px solid #d7d7d7;
  }
  .car_label {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: var(--searchPanelBG);
    height: max-content;
  }
  .condition-select {
    grid-column: 3/4;
    grid-row: 2/3;
    align-items: center;
    justify-self: center;
  }
  .body_select {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .brand_select {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .model_select {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .year_select {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .pass_select {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .color_select {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .car_description {
    grid-column: 1/4;
    grid-row: 5/7;
    background-color: var(--searchPanelBG);
  }
}
