.review_list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
  gap: 20px;
}
@media (min-width: 775px) and (max-width: 1000px) {
  .review_list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}