footer {
  width: 100%;
  background-color: #12232e;
  display: grid;
  grid-template-columns: 7;
  grid-template-rows: 85px 1fr 45px;
  color: white;
}
.footer-logo {
  grid-column: 1/8;
  grid-row: 1/2;
  height: 40px;
  width: 130px;
  background-image: url(../../assets/logo.png);
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

.footer-info {
  padding: 10px 0;
  grid-column: 1/8;
  grid-row: 2/3;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      to left,
      rgba(196, 196, 196, 0) 0%,
      rgb(196, 196, 196) 50%,
      rgba(196, 196, 196, 0) 100%
    )
    100% 0 100% 0/1px 0 1px 0 stretch;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-info ul {
  font-size: 14px;
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-media {
  display: flex;
  flex-direction: column;
}
.footer-info .footer-media-list {
  display: flex;
  flex-direction: row;
}
.footer-bottom {
  grid-column: 1/8;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}
