.recommended.fade {
  opacity: 0;
}

.recommended {
  opacity: 1;
  transition: 0.8s ease;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin: 0 auto;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-white);
  }
  &-selection {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-buttons {
      button {
        width: 100px;
        border: none;
        background-color: transparent;
        color: var(--carCardFontColor);
        opacity: 0.5;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        border-bottom: 2px solid transparent;
        transition: all 0.7s ease;
        cursor: pointer;
      }
      .active-select-button {
        opacity: 1;
        border-bottom: 2px solid var(--carCardFontColor);
      }
    }
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: var(--carCardFontColor);
      display: flex;
      gap: 5px;
      align-items: center;
      &:hover span {
        border-bottom: 1px solid var(--carCardFontColor);
      }
      span {
        border-bottom: 1px solid transparent;
        transition: 0.5s ease;
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
  &-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 0ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 0ms ease-in;
}
