.product_details {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  .full_car_slider {
    grid-column: 1/13;
  }
  .side_info_wrapper {
    grid-column: 9/12;
    margin-top: 70px;
    grid-row: 2/7;
  }
  .full_car_center {
    grid-column: 2/7;
    margin-top: 70px;
    grid-row: 2/4;
  }
  .dealer_info_block {
    grid-column: 2/7;
    grid-row: 4/5;
  }
  .contact_form {
    grid-column: 2/7;
    grid-row: 5/6;
  }
  .car_map{
    grid-column: 2/7;
    grid-row: 6/7;
  }
  .credit{
    grid-column: 2/12;
    grid-row: 8/9;
  }
}
